.hero {
  background-image: url("../img/hero.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0px -142px 73px -36px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px -142px 73px -36px rgba(255, 255, 255, 1);
  box-shadow: inset 0px -142px 73px -36px rgba(255, 255, 255, 1);
  color: #ffffff;
  h1,
  h2,
  h5 {
    text-shadow: #18181a 2px 5px 10px;
    color: white;
  }
}

/* Laporan Style */
.container-card {
  min-height: 100vh;
  margin: 50px;
}

.laporan-body {
  margin: 20px;
}

/* Footer */
footer {
  box-shadow: rgba(0, 0, 0, 0.45) 0px -15px 20px -20px;
}

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
nav {
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
}

/* Contact Style */
.team-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.team-section h1 {
  margin-bottom: 20px;
}

.team-section p {
  margin-bottom: 40px;
  color: #666;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 40px;
  text-align: left;
}

.team-member img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.team-member h2 {
  margin: 15px 0 5px 0;
}

.team-member h3 {
  margin: 0 0 15px 0;
  font-weight: normal;
  color: #777;
}

.team-member p {
  color: #333;
}

@media screen and (max-width: 768px) {
  .team-member {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .team-container {
    flex-direction: column;
  }

  .team-member {
    width: 100%;
  }
}

/* FAQ Style */
.faq-section {
  padding: 40px 20px;
}
.faq-section h1 {
  text-align: left;
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: #333;
}
.faq-container {
  margin: 0 auto;
  border-top: 1px solid #ddd;
}
.faq-item {
  border-bottom: 1px solid #ddd;
}
.faq-question {
  width: 100%;
  text-align: left;
  padding: 30px 20px;
  font-size: 1rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-answer {
  display: none;
  padding: 15px 20px;
  background-color: #fff;
}
.faq-question::after {
  content: "+";
  font-size: 1.2rem;
  color: #666;
}
.faq-question.active::after {
  content: "-";
}

/* CSS for fade in effect */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}
